.signin-container, .password-reset-container {
    width: 100%;
    height: 91vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #F2E9E4;
}

.signin-background-image, .password-reset-background-image {
    height: 100%;
    object-fit: cover;
}

.signin-form-container, .password-reset-form-container {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffffd9;
}

.signin-header {
    width: 80%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid cornflowerblue; */
    margin-bottom: 30px;
}

.google-signin-button {
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 5px;
    border: 1px solid #121212;
    background-color: #12121200;
}

.separator-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-contenT: space-between;
    align-items: center;
    padding: 10px 0px;
    color: #121212ce;
}

.horizontal-line {
    width: 45%;
    color: white;
    border: .2px solid #121212c7; /* Adjust the colour */
}

.google-icon {
    margin-right: 8px;
    width:20px;
}

.hide-icon {
    margin-right: 8px;
    width:15px;
}

.divider-icon {
    width: 80%;
}

.signin-form {
    width: 80%;
    height: 300px;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.password-reset-header, .password-reset-form {
    width: 80%;
    height: 180px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.password-reset-header {
    height: 100px;
}

.password-reset-title {
    font-size: 1.4rem;
}

.password-reset-instruction {
    font-size: 0.8rem;
    color: #676B80;
    margin-top: -10px;
}

.password-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.toggle-password-visibility-button {
    background-color: #12121200;
    border: none;
    color:#121212;
    font-size: .8rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.toggle-password-visibility-button:hover {
    background-color: #1212122d;
}

.input-field {
    width: 98%;    
    height: 20px;
    font-size: 1rem;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #121212;
}

.signin-button, .password-reset-button {
    border: 1px solid #121212;
    padding: 8px 20px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 3px;
    color: #ffffff;
    background-color: #121212;
    
}

.signin-button:hover, .password-reset-button {
    background-color: #121212e4;
}

.signup-link, .signin-prompt {
    color:#121212;
    font-size: .8rem;
}

.forgot-password-link {
    color:#121212;
    font-size: .8rem;
    float: right;
}

@media only screen and (max-width: 600px) {
    .signin-container, .password-reset-container {
        height: 87vh;
    }
    .signin-background-image, .password-reset-background-image {
        display: none;
    }
    .signin-form-container, .password-reset-form-container {
        width: 90%;
        height: 70vh;
    }

    
}

/* Sign up */

.font1 {
    color:#121212;
    font-size: .7rem;
}

